@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

// Colors
$primary: #5f50bf;
$secondary: #9A53DE;
$warning: #fdce47;
$danger: #FD6B3F;
$light: #f3f1f5;
$dark: #09132c;

// Button main
$btn-padding-x: 1.5rem;
$btn-border-radius: 18px;
$btn-border-width: 2px;

// Button  jamix
.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #{$primary};
  --bs-btn-border-color: #{$primary};
  //hover
  --bs-btn-hover-color: #{$primary};
  --bs-btn-hover-bg: var(--bs-white);
  --bs-btn-hover-border-color: #{$primary};
  //focus
  --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
  //active
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($primary, 20%)};
  --bs-btn-active-border-color: #{shade-color($primary, 20%)};
}

// Focus
// $box-shadow: 0 0 5px black;
// $focus-ring-color: rgba(black, 50%);
// $focus-ring-width: 0.1rem;
// $input-focus-border-color: black;

// Font family
$font-family-base: "Work Sans", sans-serif; // main
$font-family-header: "PT Sans Narrow", sans-serif;
$font-family-title: "Open Sans", sans-serif;
$font-weight-body: 300;
$font-weight-body-highlight: 600;
$font-weight-title: 600;
$font-weight-header: 600;

// Font project
body {
  font-family: $font-family-base;
  font-weight: $font-weight-body;
}

.header {
  font-family: $font-family-header;
  font-weight: $font-weight-header;
}

.title-1 {
  font-family: $font-family-header;
  font-weight: $font-weight-header;
}

.title-2 {
  font-family: $font-family-title;
  font-weight: $font-weight-title;
}

.txt-subtitle {
  font-family: $font-family-base;
  font-weight: $font-weight-body;
}

.txt-body {
  font-family: $font-family-base;
  font-weight: $font-weight-body;
}

.txt-body-highlight {
  font-family: $font-family-base;
  font-weight: $font-weight-body-highlight;
}

//Input
.custom-file-button {
  input[type="file"] {
    margin-left: -2px !important;

    &::-webkit-file-upload-button {
      display: none;
    }
    &::file-selector-button {
      display: none;
    }
  }

  &:hover {
    label {
      background-color: #dde0e3;
      cursor: pointer;
    }
  }
}
